{% extends "base.html" %}

{% block title %}Formset with `extra = 0` (Django 1.2+){% endblock %}

{% block extrahead %}
<script type="text/javascript">
    $(function() {
        $('form div').formset({
            formTemplate: '#id_empty_form',
            extraClasses: ['row1', 'row2', 'row3']
        });
    });
</script>
<style type="text/css">
    .add-row {
        padding-left:18px;
        background:url({{ MEDIA_URL }}images/add.png) no-repeat left center;
    }
    .delete-row {
        display:block;
        margin:6px 0 0 0;
        padding-left:18px;
        background:url({{ MEDIA_URL }}images/delete.png) no-repeat left center;
    }
    .dynamic-form {
        margin-bottom:6px;
        padding-bottom:6px;
        border-bottom:1px dotted #ccc;
    }
    .row1 { background-color: #f9f9f9; }
    .row2 { background-color: #f3f3f3; }
    .row3 { background-color: #ededed; }
</style>
{% endblock %}

{% block content %}
<div>
    <div class="entry">
        {% with formset.empty_form as form %}
        <div id="id_empty_form" style="display:none;">
            {{ form.type.label_tag }}<br />
            {{ form.type }}
            {{ form.value.label_tag }}<br />
            {{ form.value }}
            {{ form.preferred }} {{ form.preferred.label_tag }}
        </div>
        {% endwith %}
        <form method="post" action="">
            <div></div>
            <p>
                {{ formset.management_form }}
                <input type="submit" value="Submit" />
            </p>
        </form>
    </div>
</div>
{% endblock %}

{% block sidebar %}
<p>
    If you'd rather not have extra forms in your template, pass `extra = 0` to `formset_factory`, and supply a custom form template.
    This can easily be done using <a href="http://docs.djangoproject.com/en/dev/topics/forms/formsets/#empty-form">`formset.empty_form`</a>
    in your template.
</p>
<p>
    Note that `$(...).formset()` doesn't need to be called on an actual form -- here, we call it on an empty DIV. You can think of the selector
    as providing an "anchor point"; the "add another" link will be placed below this anchor point, and all cloned forms will appear between the
    anchor and the "add" link.
</p>
{% endblock %}
