{% extends "base.html" %}

{% block content %}
<div class="post">
    <h1 class="title">Examples</h1>
    <div class="entry">
        <p>
            The examples below were mostly pulled out from working code. View the source
            of each, to see how they work:
        </p>
        <ul>
            <li><a href="{% url example_table %}">Basic Formset (Table layout)</a></li>
            <li><a href="{% url example_stacked %}">Basic Formset (DIV layout)</a></li>
            <li><a href="{% url example_inline_formset %}">Inline Formset</a></li>
            <li><a href="{% url example_inline_autocomplete %}">Inline Formset using Autocomplete</a></li>
            <li><a href="{% url example_admin_widget %}">Basic Formset with Admin Widget</a></li>
            <li><a href="{% url example_multiple_formsets %}">Multiple formsets on the same page</a></li>
            <li><a href="{% url example_form_template %}">Custom Form Template</a></li>
            <li><a href="{% url example_max_forms %}">Limit allowed forms</a></li>
        </ul>
    </div>
</div>
{% endblock %}
